{% extends 'base.html.twig' %}

{% block body %}
    {% for stage in formation.stages %}
         <a href="{{path('pro_stages_formation_stage',{idF:formation.id,idS:stage.id})}}"><p>{{stage.titre}}</p></a>
        <br>
    {% else %}
        <center><h1> Pas de stage </h1></center>
    {% endfor %}
{% endblock %}
